aiofiles
psycopg
psycopg-pool
python-dotenv
google-api-client-wrapper
langgraph
langchain-core
langchain-google-genai
langchain
textwrap3
pydantic
python-telegram-bot
python-telegram-bot[job-queue]
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-json-logger
aiosqlite
pytz
telegramify-markdown
telegramify-markdown[mermaid]
cryptography
werkzeug
langgraph-checkpoint-sqlite
waitress
fastapi
uvicorn[standard]
apscheduler
supabase
psycopg[binary]
langgraph-checkpoint-postgres
asyncstdlib