protobuf
starlette
aiofiles
psycopg
psycopg-pool
python-dotenv
google-api-client-wrapper
langgraph
langchain-core
langchain-google-genai
langchain
textwrap3
pydantic
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-json-logger
aiosqlite
pytz
cryptography
langgraph-checkpoint-sqlite
fastapi
uvicorn[standard]
apscheduler
supabase
psycopg[binary]
langgraph-checkpoint-postgres
asyncstdlib
filetype
redis
httpx
google-cloud-tasks